<form autocomplete="off" [formGroup]="form">
  <div fxLayout="row" fxLayoutAlign="space-between">
    <h3>New Task</h3>
    <!-- <div>
      <button mat-raised-button type="button" color="secondary" (click)="addToStack()" >+</button>
      <button mat-raised-button color="primary" (click)="save()" [disabled]="form.invalid">Save</button>
    </div>  -->
  </div>
  <div fxLayout="row wrap">

    <div fxFlex="50%">
      <mat-card>

        <div fxLayout="column" fxLayoutGap="10px">
          <mat-form-field>
            <mat-select placeholder="Choose Client" >
              <mat-option value="1">
                Client 1
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput  type="text" placeholder="Task Name">
          </mat-form-field>
          <mat-form-field>
            <textarea matInput  type="text" placeholder="Task Description"></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Task Type" formControlName="taskType">
              <mat-option *ngFor="let task of taskType"  [value]="task">
                {{task}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput  required type="number" placeholder="Priority">
          </mat-form-field>
          <mat-form-field>
            <input matInput  required type="date" placeholder="Start Date">
          </mat-form-field>

          <mat-form-field>
            <input matInput  required type="date" placeholder="Projected End Date">
          </mat-form-field>
          <mat-form-field>
            <input matInput  required type="text" placeholder="Web URL">
          </mat-form-field>
          <div>
          </div>
        </div>
      </mat-card>
    </div>

    <mat-card fxFlex="50%">
      <div>
        <h4>Technology Stack</h4>
      </div>
      <div fxLayout="column">
        <!-- <table formArrayName="technoStack">
          <thead>
            <tr>
              <th>Stack Name</th>
              <th>Description</th>
              <th>#</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stack of techoStackArray.controls;let indx = index;" [formGroup]="stack">
              <td>
                <input > {{stack.get('stack_name').errors|json}}
              </td>
              <td>
                <input > {{stack.get('stack_desc').errors|json}}
              </td>
              <td>
                <button (click)="removeStack(indx)">x</button>
              </td>

            </tr>
          </tbody>
        </table> -->
      </div>
    </mat-card>



    <div fxFlex="100%">
      Console

      <ul>
        <li>choose client</li>
        <li>name</li>
        <li>descriptoin</li>
        <li>billing type</li>
        <li>technology stack</li>
        <li>price (perhour/fixed)</li>
        <li>start date</li>
        <li>projected end date</li>
        <li>web url</li>

      </ul>
      <pre>

    Raw Value

    </pre>
    </div>
  </div>
</form>