<!-- <p>
  adm-new-eroject works!
</p> -->
<mat-card>
  <table>
    <thead>
      <tr>
        <th>No</th>
        <!-- <th>Name</th> -->
        <th>Project</th>
        <th>Description</th>
        <th>Billing</th>
        <th>Price</th>
        <th>Start_Date</th>
        <th>End_Date</th>
        <th>Web_Url</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let client of projects;let indx=index">
        <td>{{indx+1}}</td>
        <!-- <td>{{client.clientName}}</td> -->
        <td>{{client.projectName}}</td>
        <td>{{client.description}}</td>
        <td>{{client.billingType}}</td>
        <td>{{client.price}}</td>
        <td>{{client.startDate}}</td>
        <td>{{client.projectedEndDate}}</td>
        <td>{{client.weburl}}</td>
        <!-- <td>{{client.phone}}</td> -->
        <!-- <td>{{client.email}}</td> -->
        <!-- <td>{{client.active}}</td>
        <td>{{client.createdDate}}</td> -->
      </tr>
    </tbody>
  </table>
 </mat-card>
 
