/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* <link rel="stylesheet" type="text/css" href="/node_modules/primeicons/primeicons.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/themes/omega/theme.css" />
<link rel="stylesheet" type="text/css" href="/node_modules/primeng/resources/primeng.min.css" />
// @import "~primeicons/primeicons.css";
@import "~primeng/resources/themes/flick/theme.css";
@import "~primeng/resources/primeng.min.css"; */

body {
    margin: 0;
    padding:0; 
}

mat-toolbar a {
    color:white;
    margin-left: 5px;
    display: inline-block;
    font-size: .9rem;
}