<mat-card>
<table>
  <thead>
    <tr>
      <th>No</th>
      <!-- <th>Name</th> -->
      <th>Task Name</th>
      <th>Description</th>
      <th>Task Type</th>
      <th>Priority</th>
      <th>Start_Date</th>
      <th>End_Date</th>
      <th>Web_Url</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let ta of task;let indx=index">
      <td>{{indx+1}}</td>
      <!-- <td>{{client.clientName}}</td> -->
      <td>{{ta.taskname}}</td>
      <td>{{ta.taskdescription}}</td>
      <td>{{ta.tasktype}}</td>
      <td>{{ta.priority}}</td>
      <td>{{ta.projectedStartDate}}</td>
      <td>{{ta.projectedEndDate}}</td>
      <td>{{ta.weburl}}</td>
      <!-- <td>{{client.phone}}</td> -->
      <!-- <td>{{client.email}}</td> -->
      <!-- <td>{{client.active}}</td>
      <td>{{client.createdDate}}</td> -->
    </tr>
  </tbody>
</table>
</mat-card>